
<header>
  <div class="container">
    <a routerLink="/" class="logo">PS Foods </a>
    <nav>
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/aboutus">About Us</a>
        </li>
        <li class="menu-container">
          <a routerLink="/menu">Menu</a>
        </li>
        <li>
          <a routerLink="/bookevent">Book Event</a>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span>{{cartQuantity}}</span>
          </a>
        </li>
        <li>
          <a routerLink="/login">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- <section class="home">
  <img src="../../assets/food.png" height="555" width="1265">

  <div class="homecontent">
      <h1>Count the memories,<br>Not the Calories</h1>
      <a routerLink="menu" class="btn btn-lg btn-light">Explore Menu</a> &nbsp;
  </div>
</section> -->

<!-- <h2>
  Our Menu
</h2> -->

