<app-header></app-header>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>

  <!-- Link to your custom CSS file -->
  <link rel="stylesheet" type="text/css" href="aboutus.component.css">
</head>

<body>

<section class="section" id="about">
  <div class="about-us container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="left-text-content">
          <div class="section-heading">
            <h3>About Us</h3>
            <h2>We Leave A Delicious Memory For You</h2>
          </div>
          <p>
            PS Foods believes in preparing great food with quality and taste. We believe in the happiness that our customers experience with our food.
          </p>

          <p>We believe in health that our food provides to our customers. We believe in the affordability our lunch box provides. We go an extra mile to ensure hygienic use of lunch boxes. Cleanliness quality and hygiene are the mantra for us. We are PS Foods for you.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="right-content">
          <div class="thumb">
            <img src="../../assets/m4.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>

</html>

<!-- ***** About Area Ends ***** -->

<!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4>
            Contact Us
          </h4>
          <div class="contact_link_box">
            <span>
              <i class="fa fa-map-marker" aria-hidden="true"></i>

                  First Floor, No.14, 150, 1 Anugraha
                  Avani Shringeri Nagar,
                  BTM 6th Stage, Bengaluru, Karnataka 560076
            </span>

            <span>
                <i class="fa fa-phone" aria-hidden="true"></i>
                Call +91 9876543210
              </span>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  psfoods&#64;gmail.com
              </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <h4>
            PS Foods
          </h4>
          <p>
            PS Foods believes in preparing great food with quality and taste. We believe in the happiness that our customers experience with our food.
          </p>
          <!--          <div class="footer_social">-->
          <!--            <a href="">-->
          <!--              <i class="fa fa-facebook" aria-hidden="true"></i>-->
          <!--            </a>-->
          <!--            <a href="">-->
          <!--              <i class="fa fa-twitter" aria-hidden="true"></i>-->
          <!--            </a>-->
          <!--            <a href="">-->
          <!--              <i class="fa fa-linkedin" aria-hidden="true"></i>-->
          <!--            </a>-->
          <!--            <a href="">-->
          <!--              <i class="fa fa-instagram" aria-hidden="true"></i>-->
          <!--            </a>-->
          <!--            <a href="">-->
          <!--              <i class="fa fa-pinterest" aria-hidden="true"></i>-->
          <!--            </a>-->
          <!--          </div>-->
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <h4>
          Opening Hours
        </h4>
        <p>
          Mon-Fri
        </p>
        <p>
          10.00 Am -10.00 Pm
        </p>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">PS Foods</a><br><br>
      </p>
    </div>
  </div>
</footer>
<!-- footer section -->


